.initBack {
  background-image: url(@/assets/images/public/icon-back.png);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  cursor: pointer;
  color: #151617;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  display: inline-block;
}
