/* 颜色 */

$global_color_desc: #20a322;

$globalColor-bgStyle: #ffffff;
$globalColor-style: #20a322;
$globalColor-subStyle: #ffffff;
$globalColor-themeSubStyle: #ffffff;
$globalColor-fontStyle: #162b26;
$globalColor-fontSubStyle: #999999;
$globalColor-borderStyle: #e1e1e1;
$globalColor-inputBorderStyle: #cccccc;
$globalColor-inputBgStyle: #f0f0f0;
$globalColor-placeholderStyle: #cccccc;
$globalColor-holderStyle: #f5f5f5;

$ImgPath: "@/assets/images/";

$headerHeight: 60px;

$footerHeight: 160px;
$footerHeight_1680: 200px;
