.listBox {
  padding: 15px;
  background-color: skyblue;

  &-item {
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 15px;
    background-color: navy;
    color: red;

    &--active {
      background-color: gold;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
