.listBox {
  padding: 15px;

  &-item {
    @include flexLeft;
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 15px;
    background-color: $color-lists-item-bg;
    border-radius: 8px;
    // box-shadow: 4px 4px 12px 4px white inset;
    cursor: pointer;

    &--active {
      background-color: $color-lists-item-active-bg;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__voice {
      color: #eee;
    }

    &__label {
      color: #fff;
      font-weight: bold;
      font-size: 24px;
    }

    &__info {
      flex: 1;
    }

    &__loading {
      margin-right: 4px;
    }
  }
}

.iconBox {
  @include flexCenter;

  &-icon {
    @include flexCenter;
    width: 40px;
    height: 40px;
    background-color: skyblue;
    margin-right: 4px;
  }
}
